@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2B8CE5;
  --text-white-opacity: rgba(255, 255, 255, 0.3);
  --foreground: #FFFFFF;
  --background: #101313;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
}
